<launch>
  <include file="$(find unity_bridge)/launch/unity_sim.launch" />
  <node name="controller_node" pkg="trajopt" type="controller_node_sol" />
  <node name="wp_pub" pkg="trajopt" type="manual_waypoint.py" />
  <node name="traj_gen_node" pkg="trajopt" type="traj_generator_node" />
  <node name="state_pub_node" pkg="trajopt" type="state_publisher_node" />
</launch>
