<launch>
  <include file="$(find trajopt)/launch/traj_sim_unity.launch" />
  <node name="world_tf_pub" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 world map 10" />
  <node name="rviz" pkg="rviz" type="rviz" />
  <node name="rviz_pub_node" pkg="trajopt" type="rviz_publisher_node" />
</launch>
